<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Welcome <%= data.username %></h1>
    <div>
        <p>
            First Name: <%= data.firstName %>
            <br />
            Last Name: <%= data.lastName %>
            <br />
            Birth Date: <%= data.birthDate %>
            <br />
            E-Mail: <%= data.email %>
            <br />
        </p>

    </div>
    
</body>
</html>